body {
    background-color:beige !important;
    font-size:20px !important;
}

.main-box{
    position:static;
    display:inline-block;
    margin-bottom:15px;
}

.positioning{
    margin-left:50px;
}

.middle{
    width:20% !important;
    text-align:center;
}
